#side{
	float: left;
	padding: 1em 2em;
	background-color: #141;

	form, div{
		display: inline;
	}
	input{
		font-size: small;
	} 

	#cart{
		.button_to{
			color: black;
		}

		font-size: smaller;
		color: white;
	}
	#sidelink{
		ul{
			padding: 2em;		
			li{
				list-style: none;
				a{
					color: #bfb;
					font-size: larger;
				}
				#testid {
					color: white;
					font-size: x-small;
				}

			}
		}

	}
	
	
}

.cart_title{
	font-size: larger;
	// color: black;
}

.depot_form{
	fieldset {
		background: #efe;

		legend {
			color: #dfd;
			background: #141;
			font-family: sans-serif;
			padding: 0.2em 1em;
		}
	}
	form {
		label {
			width: 5em;
			float: left;
			text-align: right;
			padding-top: 0.2em;
			margin-right: 0.1em;
			display: block;
		}

		select, textarea, input {
			margin-left: 0.5em;
		}

		.submit {
			margin-left: 4em;
		}

		br{
			display: none;
		}
	}
}





